header {
    text-align: center;
  }

  nav {
    text-align: center;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }